body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 50px;
}

.form {
  margin: 50px auto;
}

label {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}

#plot {
  height: 400px;
}
